@model Shops.Models.Boot
@{
    ViewData["Title"] = "Описание модели кроссовок" + @ViewBag.BootId;
}
<h3>Кроссовки под id @ViewBag.BootId</h3>
<table class="table-condensed">
    <tr>
        <td>Модель</td>
        <td>Цена</td>
        <td>Производитель</td>
        <td>Цвет</td>
        <td></td>
    </tr>
    <tr>
        <td>@Model.Name</td>
        <td>@Model.Price</td>
        <td>@Model.Company</td>
        <td>@Model.Color</td>
    </tr>
</table>